.leikbord{
    -fx-background-image: url("myndir/backround.png");
    -fx-background-size:stretch;
    -fx-backround-positions:center;
}

.main-menu{
    -fx-background-image: url("myndir/backround.png");
    -fx-background-size:stretch;
    -fx-backround-positions:center;
}

.EndScreen{
    -fx-background-image: url("myndir/backround.png");
    -fx-background-size:stretch;
    -fx-backround-positions:center;
}